* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Stile Struttura */
body {
  background: rgb(219,219,210);
  background: linear-gradient(0deg, rgba(219,219,210,1) 80%, rgba(0,150,136,1) 80%);
  background-repeat: no-repeat;
  height: 100vh;
}
#root {
  width: 950px;
  height: 80vh;
  background-color: green;
  margin: auto;
  position: relative;
  top: 10%;
  font-family: 'Lato', sans-serif;


}

header {
  height: 100px;
  position: fixed;
  background-color: #EAEAEA;
  margin-left: 350px;
  width: 600px;
}
main {
  margin-left: 350px;
  width: 600px;
  height: calc(100% - 200px);
  background-image: url('../img/mine.jpg');
  position: absolute;
  top: 100px;
}
footer {
  height: 100px;
  position: fixed;
  bottom: 10%;
  background-color: red;
  margin-left: 350px;
  width: 600px;
}
/* Mix */

.list-inline {
  display: flex;
  list-style: none;
}
/* Stile Aside */
.chat {
  width: 350px;
  height: 80vh;
  background-color: lightblue;
  position: absolute;
  left: 0;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #EAEAEA;
}
.avatar {
  display: flex;
  align-items: center;
}
.btn-icons li a {
  padding: 8px;
}
.avatar img {
  max-width: 50px;
  margin-right: 5px;
}
.notify {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  background-color: #8EDAFC;
}
.notify i {
  font-size: 30px;
}
.text-notify {
  margin-left: 8px;
  font-size: 14px;
}
.src {
  width: 100%;
  border-radius: 4px;
  padding: 4px;
}
