* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(219,219,210);
  background: linear-gradient(0deg, rgba(219,219,210,1) 80%, rgba(0,150,136,1) 80%);
  background-repeat: no-repeat;
  height: 100vh;
}
#root {
  width: 950px;
  height: 80vh;
  background-color: green;
  margin: auto;
  position: absolute;
  top: 10vh;
  left: 35vh;
  bottom: 10vh;

}

.chat {
  width: 350px;
  height: 80vh;
  background-color: lightblue;
  position: relative;
  display: flex;
  flex-direction: column;
  left: 0;
}
