* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Stile Struttura */
body {
  background: rgb(219,219,210);
  background: linear-gradient(0deg, rgba(219,219,210,1) 80%, rgba(0,150,136,1) 80%);
  background-repeat: no-repeat;
  height: 100vh;
}
#root {
  width: 950px;
  height: 80vh;
  margin: auto;
  position: relative;
  top: 10%;
  font-family: 'Lato', sans-serif;
}
.wrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
}
header {
  height: 13vh;
  position: fixed;
  background-color: #EAEAEA;
  margin-left: 350px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
main {
  margin-left: 350px;
  width: 600px;
  height: calc(100% - 20vh);
  background-image: url('../img/mine.jpg');
  scroll-behavior: smooth;
  position: absolute;
  margin-top: 100px;
  overflow-y: auto;
}
footer {
  height: 7vh;
  position: fixed;
  bottom: 10%;
  margin-left: 350px;
  width: 600px;
  background-color: #F3EEEA;
  z-index: 10;
}
/* Mix */

.list-inline {
  display: flex;
  list-style: none;
}
input:focus {
  outline: none;
}
.bg-grey {
  background-color: #EAEAEA;
  border-radius: 8px;
}
/* Stile Aside */
.chat {
  width: 350px;
  height: 80vh;
  background-color: #F3EEEA;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
}
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  background-color: #EAEAEA;
  padding: 0 5px;
  border-right: 1px solid #6B7376;
}
.avatar {
  display: flex;
  align-items: center;
  padding: 0 6px;
}
.btn-icons li a {
  padding: 8px;
  color: #B1B1B1;
}
.avatar img {
  max-width: 50px;
  margin-right: 5px;
  border-radius: 50%;
}
.notify {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 6vh;
  background-color: #8EDAFC;
}
.notify i {
  font-size: 20px;
  color: #fff;
}
.text-notify {
  margin-left: 8px;
  font-size: 14px;
}
.search-interactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-interactions label {
  margin-left: 10px;
  color: #B1B1B1;
}
.src {
  flex-basis: 80%;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 25px;
  padding: 4px;
  border: transparent;
  height: 5vh;
}

.friends {
  margin-top: 10px;
  background-color: #fff;
  height:  56vh;
  overflow-y: auto;
  border-radius: 10px;
  line-height: 70px;
}

.friends h3 {
  cursor: pointer;
}
.grey-bg {
  background-color: #B1B1B1;
}
.friends img {
  max-width: 50px;
  border-radius: 50%;
}
/* Stile Main */
.last-seen {
position: absolute;
display: block;
bottom: 6px;
padding: 2px;
font-size: 11px;
}
.wrapper-chat {
  width: 550px;
  margin: auto;
  margin-top: 10px;
  padding: 0 20px;

}
.wrapper-chat small {
  font-size: 10px;
  color: #B1B1B1;
}

.msg-user , .msg-friend {
  height: auto;
  min-width: 20px;
  max-width: 180px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  padding: 8px;
  margin-bottom: 10px;
  word-wrap: break-word;
}
.msg-friend {
  background-color: #fff;
  padding: 10px;
  right: 0;
  text-align: left;
}
.msg-user {
  background-color: #D5F9BA;
  margin-left: 70%;
  text-align: right;
}
.msg-friend::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
  position: absolute;
  left: -6px;
  bottom: 0;
}
.msg-user::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #D5F9BA;
  position: absolute;
  right: -6px;
  bottom: 0;

}
/* Stile Footer */
.input-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.input-wrapper i {
  font-size: 15px;
  color: #6B7376;
}
.chat-input {
  width: 500px;
  height: 30px;
  border-radius: 6px;
  border: transparent;
}

}
