<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- /Responsive -->
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Noto+Sans+SC:wght@400;700;900&display=swap" rel="stylesheet">
    <!-- /Google Font -->
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- /FontAwesome -->
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /VueJs -->
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /CSS -->
    <title>Boolzap</title>
  </head>
  <body>
    <div id="root">
      <!-- Aside Chat -->
      <aside class="chat">
        <!-- User section -->
        <div class="user">
          <div class="avatar">
            <img src="img/avatar_io.jpg" alt="Me">
            <h3>Gianluca</h3>
          </div>
          <div class="btn-icons">
            <ul class="list-inline">
              <li><a href="#"><i class="fas fa-circle-notch"></i></a></li>
              <li><a href="#"><i class="fas fa-comment-alt"></i></a></li>
              <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
            </ul>
          </div>
        </div>
    <!-- User section -->
    <!-- Notifiche  -->
        <div class="notify">

            <a href="#"><i class="fas fa-bell-slash"></i></a>
            <div class="text-notify">
              <h4>Ricevi notifiche di nuovi messaggi</h4>
              <p><a href="#">Attiva notifiche di desktop</a></p>
            </div>

        </div>
        <div class="chat-list">
          <input class="src" type="text" name="" value="" placeholder="cerca o inizia una nuova chat">

          <div class="friends">
            <ul>
              <li v-for='(user, index) in contacts' v-on:click="changeUser(index)">  <img :src="'img/avatar' + contacts[index].avatar + '.jpg'" alt="">
                {{user.name}}
              </li>
            </ul>
          </div>


        </div>
    <!--/Notifiche  -->
      </aside>
    <!-- /Aside Chat -->
    <!-- Chat Utente -->
      <header>
        <div class="avatar">
          <img :src="'img/avatar' + contacts[contactIndex].avatar + '.jpg'" alt="">
          <h3>{{ contacts[contactIndex].name }}</h3>
        </div>
        <div class="btn-icons">
          <ul class="list-inline">
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="#"><i class="fas fa-comment-alt"></i></a></li>
            <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
          </ul>

        </div>

      </header>
      <main>
    <div class="wrapper-chat">
      <div v-for="(msg, index) in contacts[contactIndex].messages" :class="{'msg-friend': msg.status == 'received', 'msg-user': msg.status == 'sent' }">
       {{ msg.message }}
      </div>




    </div>

      </main>

      <footer>
        <div class="input-wrapper">
          <a href="#"><i class="far fa-smile"></i></a>
          <input type="text" name="" value="" class="chat-input">
          <a href="#"><i class="fas fa-microphone"></i></a>
        </div>
      </footer>
  <!-- /Chat Utente -->


    </div>
    <!-- Day Js -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>
    <!-- /Day Js -->
   <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
